[package]
name = "rust-db-writer"
version = "0.1.0"
authors = ["Salvador Guzman <guzmansalv@gmail.com>"]
edition = "2018"

[[bin]]
name = "db-writer"
path = "src/main.rs"

[dependencies]
actix = "0.8.2"
actix-web = "1.0.0"
chrono = "0.4.6"
env_logger = "0.6.1"
postgres = { version = "0.15.2", features = ["with-chrono"] }
serde = "1.0.91"
serde_json = "1.0.39"
